<!DOCTYPE html>
<html>
<head>
    <title>Bike Rental Predictor</title>
</head>
<body>
    <h2>Bike Rental Demand Predictor</h2>
    <form action="/predict" method="post">
        <label>Season:</label><input type="number" name="season"><br><br>
        <label>Year:</label><input type="number" name="yr"><br><br>
        <label>Month:</label><input type="number" name="mnth"><br><br>
        <label>Holiday:</label><input type="number" name="holiday"><br><br>
        <label>Weekday:</label><input type="number" name="weekday"><br><br>
        <label>Workingday:</label><input type="number" name="workingday"><br><br>
        <label>Weather:</label><input type="number" name="weathersit"><br><br>
        <label>Temp:</label><input type="text" name="temp"><br><br>
        <label>Atemp:</label><input type="text" name="atemp"><br><br>
        <label>Humidity:</label><input type="text" name="hum"><br><br>
        <label>Windspeed:</label><input type="text" name="windspeed"><br><br>

        <input type="submit" value="🔍 Predict">
    </form>

    {% if prediction %}
        <h3>📈 Predicted Rentals: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
